* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    left: 0px;
    top: 0px;
    background: #344C36;
    box-sizing: border-box;
}

header {
    background-color: #F6F1E3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* border-radius: 10px; */
}

header h1 {
    font-size: 1.8rem;
    font-weight: 50;
    margin: 0;
}

.highlight {
    font-weight: 800;
    color: #111;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: #344C36;
    font-weight: 400;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #F1603C;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
    padding: 40px 0px;
    max-width: 1000px;
    margin: 0 auto;
}

.title-box {
    grid-column: span 4;
    grid-row: 1;
    background-color: #F1EBDD;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.title-box h2 {
    font-size: 1.8rem;
    line-height: 1.5;
    flex-basis: 50%;
    padding-right: 20px;
}

.title-box strong {
    font-weight: bold;
}

.personal-photo {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
}

.personal-photo img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: auto;
}

.about-box {
    grid-column: span 2;
    grid-row: 2;
    background-color: #F1EBDD;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.contact-box {
    grid-column: span 1;
    grid-row: 2;
    background-color: #FAAD1B;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 1.2rem;
}

.contact-box a {
    margin-top: 10px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}


.contact-box a:hover {
    color: #E55D2A;
}

.project-list {
    grid-column: span 4;
    background-color: #F1EBDD;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

h2 {
    text-align: center;
    grid-column: span 3;
    font-size: 2em;
}

.project-link {
    text-decoration: none;
}

.project-card {
    background-color: #fdfaf2;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.project-image {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.project-card h3 {
    font-size: 1.2rem;
    color: #333;
    margin: 0;
}

.project-link:hover h3 {
    color: #344C36;
}

project-buttons {
    margin-top: 10px;
}

.btn {
    display: inline-block;
    padding: 5px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e8e2d2;
}

.icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;

}

.social-media-links {
    grid-column: span 1;
    grid-row: 2;
    background-color: #F6F1E3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: left;
    font-size: 1.2rem;
}

.social-media-links li {
    padding: 10px 0;
}

.social-media-links li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    transition: color 0.3s ease;
}

.social-media-links li a:hover {
    color: #FF6F3F;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        margin-top: 10px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        padding: 20px 10px;
    }

    .title-box,
    .project-list,
    .about-box,
    .contact-box,
    .social-media-links {
        grid-column: 1;
    }

    .title-box {
        grid-row: 1;
        padding: 15px;
    }

    .project-list {
        grid-row: 2;
    }

    .about-box {
        grid-row: 3;
    }

    .contact-box {
        grid-row: 4;
    }

    .social-media-links {
        grid-row: 5;
    }

    .title-box h2 {
        font-size: small;
        padding-right: 10px;
    }

    .project-list {
        grid-template-columns: 1fr;
    }

    h2 {
        text-align: center;
        grid-column: span 1;
    }

    .personal-photo img {
        max-width: 100%;
    }

}